<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Biblioteca Virtual{% endblock title %}</title>
    {% comment %} Aquí puedes añadir enlaces a tus archivos CSS, por ejemplo: {% endcomment %}
    {% comment %} <link rel="stylesheet" href="/static/css/style.css"> {% endcomment %}
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
    <header>
        <nav>
            <h1>Biblioteca Virtual</h1>
            <ul>
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'lista_libros' %}">Usuarios</a></li>
                <li><a href="{% url 'registrar_libro' %}">Registrarse</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
            <!-- El contenido específico de cada página se insertará aquí -->
        {% endblock content %}
    </main>
    <footer>
        <p>&copy; 2023 Biblioteca Virtual. Todos los derechos reservados.</p>
    </footer>
    {% comment %} Aquí puedes añadir enlaces a tus archivos JavaScript {% endcomment %}
    {% comment %} <script src="/static/js/script.js"></script> {% endcomment %}
</body>
</html>