{% extends 'base.html' %}
{% block title %}Registro de Libro - Biblioteca Virtual{% endblock %}
{% block content %}
    <h3>Registro de Nuevo Libro</h3>
    <form method="post">
        {% csrf_token %}
        <p>
            {{ form.titulo.label_tag }}
            {{ form.titulo }}
        </p>
        <p>
            {{ form.autor.label_tag }}
            {{ form.autor }}
        </p>
        <p>
            {{ form.descripcion.label_tag }}
            {{ form.descripcion }}
        </p>
        <p>
            {{ form.fecha_publicacion.label_tag }}
            {{ form.fecha_publicacion }}
        </p>
        <input type="submit" value="Registrar"/>
    </form>
{% endblock %}